<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliações</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container mt-5">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h1 class="card-title text-center">{{ empresa.nome }}</h1>
                <p>{{ empresa.descricao }}</p>
                {% if avaliacoes.count == 0 %}
                    <p class="text-center text-white">Essa empresa não foi avaliada</p>
                {% else %}
                <p>Nota geral: {{ empresa.nota_geral }}</p>
                <h2>Avaliações</h2>
                <ul class="list-group mb-3">
                    {% for avaliacao in avaliacoes %}
                        <li class="list-group-item">
                            <p><strong>{{ avaliacao.usuario.username }}</strong>: {{ avaliacao.nota }}</p>
                            <p>{{ avaliacao.comentario }}</p>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
<div class="text-center mt-3">
    <a href="{% url 'crm:dashboard' %}" class="btn btn-secondary">Voltar para empresas</a>
</div>
                <h2>Adicionar Avaliação</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ avaliacaoform.non_field_errors }}
                    <div class="form-group">
                        {{ avaliacaoform.nota.label_tag }}
                        {{ avaliacaoform.nota }}
                        {{ avaliacaoform.nota.errors }}
                    </div>
                    <div class="form-group">
                        {{ avaliacaoform.comentario.label_tag }}
                        {{ avaliacaoform.comentario }}
                        {{ avaliacaoform.comentario.errors }}
                    </div>
                    <p></p>
                    <div class="text-center">
                        <input type="submit" value="Adicionar" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
