<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ empresa.nome }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'crm/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">{{ empresa.nome }}</h1>
                <p>{{ empresa.descricao }}</p>
                <p>Nota geral: {{ empresa.nota_geral }}</p>
                <h2>Avaliações</h2>
                <ul class="list-group mb-3">
                    {% for avaliacao in avaliacoes %}
                        <li class="list-group-item">
                            <p><strong>{{ avaliacao.usuario.username }}</strong>: {{ avaliacao.nota }}</p>
                            <p>{{ avaliacao.comentario }}</p>
                        </li>
                    {% endfor %}
                </ul>
<div class="text-center mt-3">
    <a href="{% url 'crm:dashboard' %}" class="btn btn-secondary">Voltar para o Dashboard</a>
</div>
                <h2>Adicionar Avaliação</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ avaliacaoform.non_field_errors }}
                    <div class="form-group">
                        {{ avaliacaoform.nota.label_tag }}
                        {{ avaliacaoform.nota }}
                        {{ avaliacaoform.nota.errors }}
                    </div>
                    <div class="form-group">
                        {{ avaliacaoform.comentario.label_tag }}
                        {{ avaliacaoform.comentario }}
                        {{ avaliacaoform.comentario.errors }}
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Adicionar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
